                                @font-face {
                                    src: url(../fonts/CircularStd-Black.otf);
                                    font-family: circularblack;
                                }
                                
                                @font-face {
                                    src: url(../fonts/CircularStd-Medium.otf);
                                    font-family: circularmedium;
                                }
                                
                                body {
                                    line-height: 25px;
                                    font-size: 16px;
                                    font-family: "circularmedium";
                                    font-weight: 400;
                                }
                                
                                h1 {
                                    font-family: "circularblack";
                                    font-size: 2.5rem;
                                    font-weight: 500;
                                    color: #151515;
                                }
                                
                                @media screen and (max-width: 768px) {
                                    h1 {
                                        font-family: "circularblack";
                                        font-size: 2.5 rem;
                                        font-weight: 500;
                                        color: #151515;
                                        text-align: center;
                                    }
                                }
                                
                                h2 {
                                    font-family: "circularmedium";
                                    font-weight: 500;
                                    color: #151515;
                                }
                                
                                h3 {
                                    font-family: "circularmedium";
                                    color: #151515;
                                    font-size: 23px;
                                    font-weight: 500;
                                }
                                
                                h7 {
                                    font-family: "circularblack";
                                    font-weight: 500;
                                    line-height: 1.2;
                                    color: #151515;
                                    font-size: 50px;
                                }
                                
                                a {
                                    text-decoration: none;
                                    transition: all 0.3s ease-in-out;
                                }
                                
                                a:hover,
                                a:focus {
                                    text-decoration: none;
                                    outline: none;
                                }
                                
                                button:focus {
                                    outline: none;
                                    box-shadow: none;
                                }
                                
                                b,
                                sup,
                                sub,
                                del {
                                    color: #000000;
                                }
                                
                                h2 {
                                    font-size: 30px;
                                }
                                /* Start Menu
============================================================================================ */
                                
                                .menubar {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                                    position: absolute;
                                    z-index: 99;
                                    width: 100%;
                                    padding: 10px;
                                }
                                
                                @media screen and (max-width: 813px) {
                                    .menubar {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                                        position: absolute;
                                        z-index: 99;
                                        width: 100%;
                                        padding: 10px;
                                    }
                                    .menu {
                                        visibility: hidden;
                                    }
                                }
                                
                                @media screen and (max-width: 480px) {}
                                
                                .menu {
                                    list-style: none;
                                    display: flex;
                                    align-items: center;
                                    font-family: "circularblack";
                                    font-size: 15px;
                                }
                                
                                .menu li {
                                    padding-left: 50px;
                                }
                                /* End Menu
============================================================================================ */
                                /* Start Banner
============================================================================================ */
                                
                                .home_banner_area {
                                    width: 100%;
                                    min-height: 800px;
                                    position: relative;
                                    background: url(../img/banner/home-banner.png) no-repeat center;
                                    background-size: cover;
                                    box-shadow: 0px 2px 3px rgba(112, 28, 28, 0.2);
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    z-index: -20;
                                }
                                
                                .textobanner {
                                    display: flex;
                                    flex-direction: column;
                                    padding-right: 100px;
                                    text-align: center;
                                    width: 50%;
                                }
                                
                                @media screen and (max-width: 768px) {
                                    .home_banner_area {
                                        width: 100%;
                                        position: relative;
                                        background: url(../img/banner/home-banner.png) no-repeat center;
                                        background-size: cover;
                                        box-shadow: 0px 2px 3px rgba(112, 28, 28, 0.2);
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                        z-index: -20;
                                    }
                                    .textobanner {
                                        display: flex;
                                        flex-direction: column;
                                        padding-right: 40px;
                                        text-align: center;
                                        width: 70%;
                                    }
                                    h7 {
                                        font-size: 40px;
                                    }
                                    h3 {
                                        font-size: 20px;
                                    }
                                }
                                
                                @media screen and (max-width: 480px) {
                                    .home_banner_area {
                                        width: 100%;
                                        position: relative;
                                        background: url(../img/banner/home-banner.png) no-repeat center;
                                        background-size: cover;
                                        box-shadow: 0px 2px 3px rgba(112, 28, 28, 0.2);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        z-index: -20;
                                    }
                                    .textobanner {
                                        display: flex;
                                        flex-direction: column;
                                        padding-right: 0px;
                                        text-align: center;
                                    }
                                }
                                /* End Banner 
============================================================================================ */
                                /* Sobre
============================================================================================ */
                                
                                .secao {
                                    padding: 70px;
                                }
                                
                                .itens {
                                    display: flex;
                                    justify-content: space-around;
                                }
                                
                                .itemsobre {
                                    padding: 20px;
                                    width: 300px;
                                    flex-direction: column;
                                    display: flex;
                                    align-items: center;
                                }
                                
                                .itemsobre img {
                                    margin: 30px;
                                    height: 70px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    text-align: center;
                                }
                                
                                .itemsobre img:hover {
                                    color: thistle;
                                }
                                
                                .itemsobre h2 {
                                    font-family: "circularblack";
                                    color: #C34344;
                                    font-size: 20px;
                                    text-align: center;
                                }
                                
                                .itemsobre p {
                                    color: black;
                                    font-size: 15px;
                                    text-align: center;
                                }
                                
                                @media screen and (max-width: 768px) {
                                    .secao {
                                        padding: 70px;
                                    }
                                    .itens {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    .itemsobre {
                                        padding: 20px;
                                        width: 80%;
                                        flex-direction: column;
                                        display: flex;
                                        align-items: center;
                                    }
                                    .itemsobre img {
                                        margin: 30px;
                                        height: 90px;
                                        margin-left: auto;
                                        margin-right: auto;
                                        text-align: center;
                                    }
                                    .itemsobre img:hover {
                                        color: thistle;
                                    }
                                    .itemsobre h2 {
                                        width: 100%;
                                        font-family: "circularblack";
                                        color: #C34344;
                                        font-size: 30px;
                                        text-align: center;
                                    }
                                    .itemsobre p {
                                        color: black;
                                        font-size: 25px;
                                        text-align: center;
                                    }
                                }
                                
                                @media screen and (max-width: 480px) {
                                    .secao {
                                        padding: 20px;
                                        padding-top: 70px;
                                        padding-bottom: 70px;
                                    }
                                    .itemsobre {
                                        padding: 10px;
                                        width: 90%;
                                        flex-direction: column;
                                        display: flex;
                                        align-items: center;
                                    }
                                    .itemsobre h2 {
                                        font-family: "circularblack";
                                        color: #C34344;
                                        font-size: 25px;
                                        text-align: center;
                                    }
                                    .itemsobre p {
                                        color: black;
                                        font-size: 20px;
                                        text-align: center;
                                    }
                                }
                                /* End About Area css
============================================================================================ */
                                /* START FAQ Area css
============================================================================================ */
                                
                                .perguntas {
                                    width: 80%;
                                }
                                
                                .espaço {
                                    width: 20%;
                                }
                                
                                .faq {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                }
                                
                                .secaofaq {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                
                                .feature_area {
                                    background-image: url(../img/features/background.png);
                                }
                                
                                .formulario {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    margin: 10px;
                                }
                                
                                .caixas {
                                    margin: 5px;
                                    width: 80%;
                                    border: none;
                                    border-bottom: 1px solid #eeeeee;
                                    padding: 12px;
                                }
                                
                                .formulario p {
                                    padding: 10px;
                                }
                                
                                .radio {
                                    display: flex;
                                    justify-content: space-around;
                                    padding: 10px;
                                }
                                
                                .teste {
                                    width: 100%;
                                }
                                
                                .fundo {
                                    background-color: rgb(245, 245, 245);
                                    display: flex;
                                    align-items: center;
                                }
                                
                                @media screen and (max-width: 768px) {
                                    .perguntas {
                                        width: 90%;
                                        padding: 0px;
                                    }
                                    .espaço {
                                        width: 20%;
                                    }
                                    .faq {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                                        padding-bottom: 30px;
                                    }
                                    .faq p {
                                        color: rgb(17, 17, 17);
                                        font-size: 20px;
                                        line-height: 1.5;
                                        font-family: "circularmedium";
                                    }
                                    .faq b {
                                        font-size: 22px;
                                        color: rgb(0, 0, 0);
                                        font-family: "circularblack";
                                    }
                                    .feature_area {
                                        background-image: url(../img/features/background.png);
                                    }
                                    .formulario {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        text-align: center;
                                        height: 400px;
                                        margin: 10px;
                                    }
                                    .caixas {
                                        margin: 5px;
                                        width: 80%;
                                        border: none;
                                        border-bottom: 1px solid #eeeeee;
                                        padding: 12px;
                                    }
                                    .formulario p {
                                        padding: 10px;
                                        font-size: 20px;
                                    }
                                    .radio {
                                        display: flex;
                                        justify-content: space-around;
                                        padding: 10px;
                                    }
                                    .teste {
                                        width: 100%;
                                    }
                                    .fundo {
                                        background-color: rgb(245, 245, 245);
                                        display: flex;
                                        align-items: center;
                                    }
                                    .secaofaq {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                }
                                
                                @media screen and (max-width: 480px) {
                                    .faq p {
                                        color: rgb(17, 17, 17);
                                        font-size: 25px;
                                        line-height: 1.5;
                                        font-family: "circularmedium";
                                    }
                                    .faq b {
                                        color: rgb(0, 0, 0);
                                        font-family: "circularblack";
                                    }
                                    .perguntas {
                                        padding: 0px;
                                    }
                                    br {
                                        line-height: 10px;
                                    }
                                    .fundo {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: rgb(245, 245, 245);
                                        height: 650px;
                                    }
                                }
                                /* End FAQ Area css
============================================================================================ */
                                /* Start Parceiros Area css
============================================================================================ */
                                
                                .parceiros {
                                    padding: 20px;
                                    height: 200px;
                                }
                                
                                .parceiros1 {
                                    justify-content: space-around;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                                
                                @media screen and (max-width: 770px) {
                                    .parceiros1 {
                                        justify-content: space-around;
                                        display: flex;
                                    }
                                    .parceiros {
                                        height: 150px;
                                    }
                                }
                                
                                @media screen and (max-width: 480px) {
                                    .parceiros1 {
                                        justify-content: space-around;
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    .parceiros {
                                        height: 150px;
                                    }
                                }
                                /* End Parceiros Area css
============================================================================================ */
                                /* Start Rodapé Area css
============================================================================================ */
                                
                                .logo {
                                    height: 40px;
                                }
                                
                                .rodape {
                                    height: 60px;
                                }
                                
                                .secaorodape {
                                    background-image: url(../img/features/background.png);
                                    padding: 40px;
                                }
                                
                                .rodapefinal {
                                    display: flex;
                                    justify-content: space-between;
                                    color: white;
                                }
                                
                                .registration_area {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    z-index: 99;
                                }
                                
                                .secaorodape {}
                                
                                @media screen and (max-width: 480px) {
                                    .logo {
                                        height: 40px;
                                    }
                                    .rodape {
                                        height: 60px;
                                    }
                                    .secaorodape {
                                        background-image: url(../img/features/background.png);
                                        padding: 20px;
                                        height: 350px;
                                    }
                                    .rodapefinal {
                                        display: flex;
                                        flex-direction: column;
                                        color: white;
                                        text-align: center;
                                    }
                                    .registration_area {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        z-index: 99;
                                    }
                                    .secaorodape {}
                                }
                                /* End Rodapé Area css
============================================================================================ */